h1 Reset Your Password
p Olá, #{name},
p Você solicitou a recuperação da sua senha. Por favor, use o link a seguir para alterar sua senha:
a(href=`${url}`) Reset Password
p Se você não solicitou essa recuperação, por favor, ignore esse email.